* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Up {
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    line-height: 30px;
    width: 100%;
    position: fixed;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding-left: 100px;
}

.main {
    padding-top: 100px;
    padding-left: 300px;
    font-family: Arial, sans-serif;
    font-weight: 0;
}

input {
    width: 700px; 
    height: 40px; 
    padding: 5px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px; 
    
}

.input-container{
    position: relative;
    left: 70px;
    top: 20px;
}

.input-container button {
    margin: 20px;
    height: 42px;
    border: 2px solid rgb(95, 150, 217);
    background-color: rgb(95, 150, 217);
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

table {
    width: 900px; 
    height: 50px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: left;
    margin-top: 30px;
    table-layout: fixed;
    word-wrap: break-word;
}

th, td {
    padding: 10px 75px;
}



.task-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: auto; 
}
.delete-btn img {
    width: 24px;
    height: 24px;
    transition: filter 0.2s;
}

.task-text {
    flex-grow: 1;
}
.task-text.completed {
    text-decoration: line-through;
    color: gray;
}

.done-btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background: white;
    cursor: pointer;
    margin-right: 15px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.done-btn.completed {
    background: blue;
}
